
@{
    ViewBag.Title = "";
}

<h1>  </h1>

<div id='Customer'></div>
<script src="~/Scripts/react/dist/Customer.bundle.js"></script>
<div id='Product'></div>
<script src="~/Scripts/react/dist/Product.bundle.js"></script>